%h1 Confirm purchase
%p
  %strong Credit card number:
  =number_field_tag(id: :credit_card_no, value: @number, type: "number" , disabled: false)
%p
  %strong Expiry date:
  =date_field("credit_card", "expiry_date", min: Date.today, value: @date)
= link_to_if(cookies[:books_in_cart].split(",") != [], "Confirm Order", action: "confirm_checkout", params: {credit_card_no: @number, expiry_date: @date})